commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_ius_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      rpm -ivh https://centos6.iuscommunity.org/ius-release.rpm
      yum -y install mod_php70u
