commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/post"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/98_scaleft_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      # Add the ScaleFT yum repository
      wget -c https://www.scaleft.com/dl/scaleft_yum.repo -O /etc/yum.repos.d/scaleft.repo
      # Trust the repository signing key
      rpm --import https://www.scaleft.com/dl/scaleft_rpm_key.asc
      # Create configurationd dir
      mkdir -p /etc/sft
      # Set the Rackspace ScaleFT Control Plane URL
      echo "InitialURL: https://scaleft.api.manage.rackspace.com" > /etc/sft/sftd.yaml
      # Install the ScaleFT Server Tools
      yum install -y scaleft-server-tools
