commands: 
  01scaleft:
    command: "mkdir -p /etc/sft && echo 'InitialURL: https://scaleft.api.manage.rackspace.com' > /etc/sft/sftd.yaml"
    ignoreErrors: true
  02scaleft:
    command: "rpm --import https://www.scaleft.com/dl/scaleft_rpm_key.asc"
    ignoreErrors: true
  03scaleft:
    command: "curl -C - https://www.scaleft.com/dl/scaleft_yum.repo | tee /etc/yum.repos.d/scaleft.repo"
    ignoreErrors: true
  04scaleft:
    command: "yum install -y -q scaleft-server-tools --nogpgcheck"
    ignoreErrors: true
